body {
    /*background-image: url('../images/homePage.png');
    background-size: cover;
    background-position: center 50px;
    background-repeat: no-repeat;
    background-attachment: fixed;*/
    margin: 0;
    padding: 0;
    background-color: lightgrey;
  }

  .container {
    color: white;
    margin: 25px 40px;
    padding: 15px;
    background-color: #20b2aba0;
    border-radius: 10px;
    box-sizing: border-box;
  }

  h1 {
    text-align: center;
    font-family: 'DM Serif Display';
    font-size: 40px;
    color: #20b2aa;
    padding-top: 22px;
    margin: 0;
  }
  
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: gray;
      position: relative;
      z-index: 2;
    }
    
    li {
      float: left;
    }
    
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 16px 16px;
      text-decoration: none;
    }
    
    li a:hover {
      background-color: #4c4646;
    }